<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mi_utem.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
				<key>dateExpires</key>
				<string>04-03-22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_editor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_editor_pro.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sentry_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33211BE28A2D0F1FB743C5EED96E8E383311B46F</string>
						<key>dateExpires</key>
						<string>04-03-22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>77RT7QVS2H</string>
						<key>name</key>
						<string>Logaritmo Tecnologias de Informacion SPA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>77RT7QVS2H.cl.inndev.miutem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>77RT7QVS2H</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>77RT7QVS2H.cl.inndev.miutem</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2e17f34e-e021-48d6-8b16-3dfbb41812a2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: cl.inndev.miutem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>77RT7QVS2H</string>
				<key>name</key>
				<string>Logaritmo Tecnologias de Informacion SPA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
